<!DOCTYPE html>
<html>

<head>
    <title>Adamantium Bank</title>
    <script src="../static/htmx.min.js"></script>
    <link href="../static/styles.css" rel="stylesheet">
    <script>
        function start_over() {
            document.getElementById("response-area").innerHTML = "";
            document.getElementById("application_form").reset()
        }
    </script>
</head>

<body>
    <div id="content-area">
        <h1 id="heading">Adamantium Bank</h1>
        <form id="application_form" hx-post="/apply" hx-target="#response-area">
            <textarea name="base_64_str" 
                placeholder="enter your base_64 encoded string to apply"
                rows="3"
                cols="30"></textarea><br>
            <input id="first_input" type="text" name="firstname" placeholder="First Name"><br>
            <input type="text" name="lastname" placeholder="Last Name"><br>
            <input type="text" name="addresstwo" placeholder="Address Line 2"><br>
            <input type="text" name="addressone" placeholder="Address Line 1"><br>
            <input type="text" name="addresscity" placeholder="City"><br>
            <input type="text" name="addressstate" placeholder="State"><br>
            <input type="text" name="addresszip" placeholder="ZIP Code"><br>
            <label for="addresscountry">we only operate in the US</label>
            <input type="text" 
                name="addresscountry" 
                placeholder="Country"
                pattern="[uU][sS]"><br>
            <label for="ssn">(SSN: type your input as 'xxxxxxxxx' excluding dashes)</label>
            <input type="password" 
                name="ssn" 
                pattern='^\d{3}\d{2}\d{4}$'
                placeholder="SSN"><br>
            <input id="penultimate_input" 
                type="email" 
                name="email" 
                placeholder="Email Address"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
            <input id="last_input" type="date" name="dob" placeholder="Date of birth"><br>
            <br><input type="submit" value="Apply">
        </form><button id="start_over" onclick="start_over()">Start Over</button>
        <br>
        <div id="response-area">
        </div>
    </div>
</body>

</html>